body, html
{
    background-color: #ededed;
    color: #444
}

.ui.menu
{
    border-radius: 0;
}

.ui.inverted.menu
{
    background-color: #fff;
    border-bottom: 1px solid #c3c3c3;

}

.ui.inverted.menu .item
{
    margin: 0 auto;
}

.ui.message
{
    background-color: #fff;
    color: #565656;
    padding-bottom: 20px
}

div.main-content
{
    margin-top: 50px
}

div.ui.container
{
    margin-top: 25px;
}

.ui.message .header
{
    font-size: 25px !important;
    font-size: 35px;
    line-height: 30px;
    margin-bottom: 10px;
    text-align: center;
    border-bottom: 1px solid #dedede !important;
    padding-bottom: 10px;
}

.ui.message .header img
{
    height: 40px;
}

.vertical-menu
{
    background-color: #435360;
    height: calc(100vh - 56px);
}

img.line-logo
{
    height: 35px
}

div.line-status
{
    float: left;
    text-align: center;
    margin-top: 30px
}

.status-indicator
{
    color: #8bc34a;
    font-size: 13px !important;
}

div.item::before
{
    display: none;
}

div.myfooter
{
    position: fixed;
    bottom: 0;
    right: 0;
    padding-left: 15px;
    background-color: #000;
    color: #fff;
    text-align: right;
    padding-right: 10px;
    font-weight: 100;
    line-height: 30px
}

div.myfooter a
{
    color: #BA68C8
}
