div.page_ligne div.ui.message div.header
{
    border-bottom: 1px solid #ededed;
    padding-bottom: 7px;
    margin-bottom: 5px
}

div.page_ligne div.ui.message div.header img
{
    height: 55px
}

div.page_ligne div.ui.message div.header img:first-child
{
    margin-right: 8px;
}

div.page_ligne div.ui.message div.header.perturbation-title
{
    font-size: 23px !important;
    padding-top: 10px;
    padding-bottom: 15px;
}


div.page_ligne .ui.dimmer
{
    border-radius: 0;
    border: none;
    left: 1px !important;
    top: -1px !important;
    background-color: rgba(0, 0, 0, 0);
}

div.page_ligne .float_indicator
{
    float: right;
    height: 100%;
    margin-top: 20px;
    margin-right: 10px;
}

div.page_ligne .float_indicator i
{
    font-size: 17px !important
}

div.page_ligne div.trafic b
{
    font-size: 17px
}

div.page_ligne div.trafic i
{
    font-size: 17px !important;
    vertical-align: baseline;
    margin-right: 6px !important;
}

div.page_ligne div.trafic div.trafic_message
{
    margin-top: 5px;
}

div.page_ligne div.trafic div.trafic_message.padding
{
    padding-left: 28px;
}
div.page_ligne span.directions
{
    color: #0047a3;
    margin-top: 2px;
    display: inline-block;
}

div.page_ligne div.message.trafic
{
    background: #4CAF50;
    background: -moz-linear-gradient(left, #4CAF50 0%, #89d23c 100%);
    background: -webkit-linear-gradient(left, #4CAF50 0%,#89d23c 100%);
    background: linear-gradient(to right, #4CAF50 0%,#89d23c 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4CAF50', endColorstr='#89d23c',GradientType=1 );
}

div.page_ligne div.message.bad
{
    background: #F44336;
    background: -moz-linear-gradient(left, #F44336 0%, #b71c1c 100%);
    background: -webkit-linear-gradient(left, #F44336 0%,#b71c1c 100%);
    background: linear-gradient(to right, #F44336 0%,#b71c1c 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F44336', endColorstr='#b71c1c',GradientType=1 );
}

div.page_ligne div.message.trafic.warning
{
    background: #FFB300;
    background: -moz-linear-gradient(left, #FFB300 0%, #F57F17 100%);
    background: -webkit-linear-gradient(left, #FFB300 0%,#F57F17 100%);
    background: linear-gradient(to right, #FFB300 0%,#F57F17 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F57F17', endColorstr='#F57F17',GradientType=1 );
}

div.page_ligne div.message.trafic *
{
    color: #fff !important;
}

div.page_ligne img.line-map
{
    max-width: 100%;
    /* max-height: 200px; */
}

div.page_ligne div.average_time *
{
    color: #fff !important
}

div.page_ligne div.average_time
{
    text-align: center;
    background: #2196F3;
    background: -moz-linear-gradient(left, #2196F3 0%, #00BCD4 100%);
    background: -webkit-linear-gradient(left, #2196F3 0%,#00BCD4 100%);
    background: linear-gradient(to right, #2196F3 0%,#00BCD4 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2196F3', endColorstr='#00BCD4',GradientType=1 );
}

div.page_ligne div.average_time .perturbation-title
{
    margin-bottom: 0 !important
}

div.page_ligne div.average_time .loader
{
    margin-top: 20px
}
